<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">

</head>
<body>
    {% csrf_token %}
    <header>
        <div class="head">
            <div class="weblogo">
                <img src="../static/media/weblogo.png" alt="" srcset="">
            </div>
            <div class="tophead">
                <img  class="topheadlogo" src="../static/media/weblogo2.png" alt="" srcset="">
                <ul class="nav-items">
                    <li class="opinion">
                        <i class="fa fa-desktop"></i>
                        <div class="content">
                            <p class="cont-head">Second Medical Opinion</p>
                            <p class="cont-desc">Book Consultation</p>
                        </div>
                    </li>
                    <li class="opinion">
                        <i class="fa fa-phone-volume"></i>
                        <div class="content">
                            <p class="cont-head">Call us On</p>
                            <p class="cont-desc">985 896 2222</p>
                        </div>
                    </li>
                    <li class="opinion">
                        <i class="fa fa-envelope"></i>
                        <div class="content">
                            <p class="cont-head">Email us on</p>
                            <p class="cont-desc">info@mediretreats.com</p>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </header>
    <nav class="nav">
        <div class="nav-menu flex-row">
            <div class="nav-brand">
                <a href="."><img src=""></a>
            </div>
            <div class="toggle-collapse">
                <div class="toggle-icons">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            <div>
                <ul class="nav-items">
                    <li class="nav-link">
                        <a href="/">Home</a>
                    </li>
                    <li class="nav-link">
                        <a href="#">About Us</a>
                    </li>
                    <li class="nav-link">
                        <a href="#">Treatment &nbsp; +</a>
                    </li>
                    <li class="nav-link">
                        <a href="#">Destinations &nbsp; +</a>
                    </li>
                    <li class="nav-link">
                        <a href="#">Hospitals</a>
                    </li>
                    <li class="nav-link">
                        <a href="#">FaQs</a>
                    </li>
                    <li class="nav-link">
                        <a href="#">Blog</a>
                    </li>
                    <li class="nav-link">
                        <a href="#">Request and Quote</a>
                    </li>
                </ul>
            </div>
            <form action="# " method="GET">
                <div class="search-container">
                    <i class="fa fa-search">
                    </i>
                    <input type="text" style="color: white;" name="search" placeholder="Search...">
                  </div>
              </form>
        </div>
    </nav>
    <main>
        <section class="site-title">
            <div class="site-background">
                <div class="site-nav">
                    <div class="ricon">Home <i  style="color: #D5052F;" class="fa fa-chevron-right"></i></div> 
                    <div class="ricon">Treatment <i style="color: #D5052F;"  class="fa fa-chevron-right"></i></div> 
                    <div class="ricon">Orthopaedics <i style="color: #D5052F;"  class="fa fa-chevron-right"></i></div> 
                    <div class="ricon">Knee Replacement</div>
                </div>
                <h1>Total Knee Replacement</h1>
                <p>Total knee replacement is surgery to remove and replace the whole <br> damaged knee joint with an artificial joint.</p>
                <a href="#" class="explore"><button class="btn">Enquire Now</button></a>
            </div>
        </section>

        <section>
            <div class="mainsection">
                <div class="sectiontitle">Overview</div>
                <div class="sectiontitle">Eligibilty</div>
                <div class="sectiontitle">Preparation</div>
                <div class="sectiontitle">About Treatment</div>
                <div class="sectiontitle">Post-Treatment Care</div>
                <div class="sectiontitle">Recovery Tips</div>
                <div class="sectiontitle">FaQs</div>
                <div class="sectiontitle">Patient Stories</div>
            </div>
        </section>
        <section>
            <div class="maincontent">
                <div class="overview">
                    <div class="maintitle">Treatment Overview</div>
                    <div class="OverviewDesc">
                    <div class="">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio commodi impedit ipsum illum corrupti? Omnis tempora repellat consectetur libero nostrum tenetur culpa cupiditate. 

                    </div>    
                    <br>
                    <div class="">
                        Repellendus at fugiat porro quos molestias error cum, perspiciatis similique quibusdam ea qui, id vel officia quo tenetur voluptatibus possimus esse placeat. Adipisci nostrum placeat magni saepe dolores aut et harum sequi in excepturi libero ut molestias, nulla reprehenderit tenetur id? Nisi commodi odio nemo reprehenderit repudiandae dignissimos earum aperiam voluptatem magnam sunt dolorum rerum explicabo, voluptates nam impedit repellat modi! 
                    </div><br> Voluptatum numquam labore, aperiam aspernatur repellat facere accusamus, veritatis, eaque iure ad odit placeat dignissimos amet?
                    </div>
                </div>
                <div class="overviewimg">
                    <img src="../static/media/overview.jpg" alt="" srcset="">
                </div>
                    
            </div>
            <hr class="dashed">

        </section>
        <section class="container">
            <div class="site-content">
                    <div class="sitecontentmain">
                        <div class="post-content" >
                            <div class="post-title">
                                <a href=""> Eligibilty For Treatment</a>
                            </div>
                            <div class="contentDesc">Any individual who has tried diet and exercise but failed to lose weight is considered as a good candidate for gastric bypass. Although gastric bypass aids in weight loss, it is not an appropriate option for everyone. Based on the overall health and certain medical guidelines, the doctor will decide whether you are eligible for gastric bypass or not.
                            </div>
                            <div class="contentDesc1">
                                In general, gastric bypass could be a good option if:
                            </div>
                                <ul style="list-style-type: circle; line-height: 24px;" class="symbol-bullets">
                                        <div> <i class="fa-regular fa-circle"></i>The BMI (body mass index) is 40 or more
                                        </div>
                                        <div> <i class="fa-regular fa-circle"></i>Your BMI is 30 or more with severe weight-related health conditions like type-2 diabetes and high blood pressure
                                        </div>
                                        <div> <i class="fa-regular fa-circle"></i>You are willing to make permanent changes in the lifestyle</div>
                                </ul> 
                        <hr class="dashed1" style="margin-top: 2rem;">
                        </div>
                        <div class="post-content" >
                            <div class="post-title">
                                <a href=""> Preparation Before Treatment</a>
                            </div>
                            <div class="contentDesc">Any individual who has tried diet and exercise but failed to lose weight is considered as a good candidate for gastric bypass. Although gastric bypass aids in weight loss, it is not an appropriate option for everyone. Based on the overall health and certain medical guidelines, the doctor will decide whether you are eligible for gastric bypass or not.
                            </div>
                            <div class="contentDesc1">
                                In general, gastric bypass could be a good option if:
                            </div>
                                <ul style="list-style-type: circle; line-height: 24px;" class="symbol-bullets">
                                        <div> <i class="fa-regular fa-circle"></i>The BMI (body mass index) is 40 or more
                                        </div>
                                        <div> <i class="fa-regular fa-circle"></i>Your BMI is 30 or more with severe weight-related health conditions like type-2 diabetes and high blood pressure
                                        </div>
                                        <div> <i class="fa-regular fa-circle"></i>You are willing to make permanent changes in the lifestyle</div>
                                </ul> 
                        <hr class="dashed1" style="margin-top: 2rem;">
                        </div>
                        <div class="post-content" >
                            <div class="post-title">
                                <a href=""> About Treatment</a>
                            </div>
                            <div class="contentDesc">Any individual who has tried diet and exercise but failed to lose weight is considered as a good candidate for gastric bypass. Although gastric bypass aids in weight loss, it is not an appropriate option for everyone. Based on the overall health and certain medical guidelines, the doctor will decide whether you are eligible for gastric bypass or not.
                            </div>
                            <div class="contentDesc1">
                                In general, gastric bypass could be a good option if:
                            </div>
                                <ul style="list-style-type: circle; line-height: 24px;" class="symbol-bullets">
                                        <div> <i class="fa-regular fa-circle"></i>The BMI (body mass index) is 40 or more
                                        </div>
                                        <div> <i class="fa-regular fa-circle"></i>Your BMI is 30 or more with severe weight-related health conditions like type-2 diabetes and high blood pressure
                                        </div>
                                        <div> <i class="fa-regular fa-circle"></i>You are willing to make permanent changes in the lifestyle</div>
                                </ul> 
                        <hr class="dashed1" style="margin-top: 2rem;">
                        </div>
                        <div class="post-content" >
                            <div class="post-title">
                                <a href=""> Post Treatment and Care Treatment</a>
                            </div>
                            <div class="contentDesc">Any individual who has tried diet and exercise but failed to lose weight is considered as a good candidate for gastric bypass. Although gastric bypass aids in weight loss, it is not an appropriate option for everyone. Based on the overall health and certain medical guidelines, the doctor will decide whether you are eligible for gastric bypass or not.
                            </div>
                            <div class="contentDesc1">
                                In general, gastric bypass could be a good option if:
                            </div>
                                <ul style="list-style-type: circle; line-height: 24px;" class="symbol-bullets">
                                        <div> <i class="fa-regular fa-circle"></i>The BMI (body mass index) is 40 or more
                                        </div>
                                        <div> <i class="fa-regular fa-circle"></i>Your BMI is 30 or more with severe weight-related health conditions like type-2 diabetes and high blood pressure
                                        </div>
                                        <div> <i class="fa-regular fa-circle"></i>You are willing to make permanent changes in the lifestyle</div>
                                </ul> 
                        <hr class="dashed1" style="margin-top: 2rem;">
                        </div>
                        <div class="post-content" >
                            <div class="post-title">
                                <a href=""> Treatment Recovery Tips</a>
                            </div>
                            <div class="contentDesc">Any individual who has tried diet and exercise but failed to lose weight is considered as a good candidate for gastric bypass. Although gastric bypass aids in weight loss, it is not an appropriate option for everyone. Based on the overall health and certain medical guidelines, the doctor will decide whether you are eligible for gastric bypass or not.
                            </div>
                            <div class="contentDesc1">
                                In general, gastric bypass could be a good option if:
                            </div>
                                <ul style="list-style-type: circle; line-height: 24px;" class="symbol-bullets">
                                        <div> <i class="fa-regular fa-circle"></i>The BMI (body mass index) is 40 or more
                                        </div>
                                        <div> <i class="fa-regular fa-circle"></i>Your BMI is 30 or more with severe weight-related health conditions like type-2 diabetes and high blood pressure
                                        </div>
                                        <div> <i class="fa-regular fa-circle"></i>You are willing to make permanent changes in the lifestyle</div>
                                </ul> 
                        <hr class="dashed1" style="margin-top: 2rem;">
                        </div>

                        <div class="container1">
                            <h2>Treatment FAQs</h2>
                            <div class="accordion">
                              <div class="accordion-item">
                                <button id="accordion-button-1" aria-expanded="false">
                                    <span class="accordion-title">How do I know the clinic I'm searching is Verified?</span>
                                    <span class="icon" aria-hidden="true"></span>
                                </button>
                                <div class="accordion-content">
                                  <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
                                    Ut tortor pretium viverra suspendisse potenti.
                                  </p>
                                </div>
                              </div>
                              <div class="accordion-item">
                                <button id="accordion-button-2" aria-expanded="false">
                                  <span class="accordion-title">I can travel alone so can some family member or friend of mine accompany me?</span>
                                  <span class="icon" aria-hidden="true"></span>
                                </button>
                                <div class="accordion-content">
                                  <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
                                    Ut tortor pretium viverra suspendisse potenti.
                                  </p>
                                </div>
                              </div>
                              <div class="accordion-item">
                                <button id="accordion-button-3" aria-expanded="true">
                                  <span class="accordion-title">Can I see my doctor before I decide and what about my post recovery?
            
                                  </span>
                                  <span class="icon" aria-hidden="true"></span>
                                </button>
                                <div class="accordion-content">
                                  <p>
                                    Yes, pre and post treatment consultation can be done. You can speak to the doctor at the most appropriate time (before you decide to travel) to boost your confidence. The team at Mediretreats will also help you with arranging the OPD'S after the surgeries.
                                  </p>
                                </div>
                              </div>
                              <div class="accordion-item">
                                <button id="accordion-button-4" aria-expanded="false">
                                  <span class="accordion-title">How do I share my reports and medical cases with the clinic of my choice?</span>
                                  <span class="icon" aria-hidden="true"></span>
                                </button>
                                <div class="accordion-content">
                                  <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut.
                                    Ut tortor pretium viverra suspendisse potenti.
                                  </p>
                                </div>
                              </div>
                            </div>
                          <hr class="dashed1" style="margin-top: 2rem;">
                          <script>
                            const items = document.querySelectorAll('.accordion button');
            
                                function toggleAccordion() {
                                const itemToggle = this.getAttribute('aria-expanded');
            
                                for (i = 0; i < items.length; i++) {
                                    items[i].setAttribute('aria-expanded', 'false');
                                }
            
                                if (itemToggle == 'false') {
                                    this.setAttribute('aria-expanded', 'true');
                                }
                                }
            
                                items.forEach((item) => item.addEventListener('click', toggleAccordion));
                          </script>
                          </div>

                        <div class="Patientstory">
                            <div class="storytitle"> Patient Stories and Videos</div>
                            <div class="blog">
                                <div class="container2">
                                    <div class="owl-carousel owl-theme blog-post">
                                        <div class="blog-content" >
                                            <a class="Boga" href="">
                                                <h3>Underwent procedure for retinal detachment</h3>
                                                <img src="../static/media/comma.png" alt="">
                                            </a>

                                            <a href=""><img style="
                                                height: 250px;" src="../static/media/patient.jpg" alt="post1"></a>
                                            <div class="blog-title">
                                                <img src="../static/media/patient.jpg" alt="" srcset="">
                                                <div class="namecount">
                                                    <div class="name">
                                                        Luke Olfer
                                                    </div>
                                                    <div class="country">
                                                        New York, USA
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="blog-content" >
                                            <a class="Boga" href="">
                                                <h3>Underwent Colonoscopy and Medical Management</h3>
                                                <img src="../static/media/comma.png" alt="">

                                            </a>

                                            <a class="adesc" href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                            </a>
                                            <div class="blog-title">
                                                <img src="../static/media/patient.jpg" alt="" srcset="">
                                                <div class="namecount">
                                                    <div class="name">
                                                        Luke Olfer
                                                    </div>
                                                    <div class="country">
                                                        New York, USA
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                
                                    </div>
                                    
                                    <ul class="patientdot">
                                        <li class="act"><i class="fa-regular fa-circle"></i></li>
                                        <li><i class="fa-regular fa-circle"></i></li>
                                        <li><i class="fa-regular fa-circle"></i></li>
                                    </ul>
                
                                </div>
                            </div>
                        
                        </div>
        
                          
                    </div>
                <aside class="sidebar">
                    
                    <div class="cont">
                        <h1 style="color: #3EB6FB;margin-bottom: 0rem;padding-bottom: 0rem;">Need Help ?</h1>
                        <p style="color: black;margin-top: 10px;padding-top: 10px;">Just let us know. We will be happy to assist you.</p>
                        <form>
                          <div class="form-group">
                            <input class="input" type="text" placeholder="Full Name" id="fullname" name="fullname" required>
                          </div>
                          <div class="form-group">
                            <input class="input" placeholder="Email Id" type="email" id="email" name="email" required>
                          </div>
                          <div class="form-group">
                            <input class="input" placeholder="Phone Number" type="tel" id="phone" name="phone" required>
                          </div>
                          <div class="form-group">
                            <textarea placeholder="Description Your Treatment Requirement" id="description" name="description" required></textarea>
                          </div>
                          <button type="submit">Send Enquiry</button>
                        </form>
                      </div>

                </aside>
            </div>
        
        
        </section>
        
        <section>
            <div class="Doctor">
                <h3 class="dh3">Doctors</h3>
                <div class="dhead">
                    <h2 class="dh2">Top Orthopaedics</h2> <div style="padding-left: 1rem; font-size: 2.5rem; color:#107DF7">Doctors</div>
                </div>
                <div class="docr">
                    <div style="height: 450px;" class="blog-content" >

                        <a href=""><img style="height: 220px;" src="../static/media/doctor.jpeg" alt="post1"></a>
                        <div class="blog-title">
                            <div style="color: rgb(255, 127, 255) !important;
                            font-size: 1.5rem;
                            padding-bottom: 10px;
                            font-style: italic;
                            font-weight: 400;" class="dname">
                                Dr. Faique Falke
                            </div>
                            <div style="font-weight: bold;
                            padding-bottom: 7px;" class="aboudoct">
                                Musaffah Industrial - Abu Dhabi
                            </div>
                            <div style="color: #3f4954;" class="specia">
                                Doctor Desgree & Specialist
                            </div>
                        </div>
                    </div>
                    <div class="blog-content" >
                        <a href=""><img style="height: 220px;" src="../static/media/doctor.jpeg" alt="post1"></a>

                        <div class="blog-title">
                            <div style="color: rgb(255, 127, 255) !important;
                            font-size: 1.5rem;
                            padding-bottom: 10px;
                            font-style: italic;
                            font-weight: 400;" class="dname">
                                Dr. Faique Falke
                            </div>
                            <div style="font-weight: bold;
                            padding-bottom: 7px;" class="aboudoct">
                                Musaffah Industrial - Abu Dhabi
                            </div>
                            <div style="color: #3f4954;" class="specia">
                                Doctor Desgree & Specialist
                            </div>
                        </div>
                    </div>
                    <div class="blog-content" >

                        <a href=""><img style="height: 220px;" src="../static/media/doctor.jpeg" alt="post1"></a>

                        <div class="blog-title">
                            <div style="color: rgb(255, 127, 255) !important;
                            font-size: 1.5rem;
                            padding-bottom: 10px;
                            font-style: italic;
                            font-weight: 400;" class="dname">
                                Dr. Faique Falke
                            </div>
                            <div style="font-weight: bold;
                            padding-bottom: 7px;" class="aboudoct">
                                Musaffah Industrial - Abu Dhabi
                            </div>
                            <div style="color: #3f4954;" class="specia">
                                Doctor Desgree & Specialist
                            </div>
                        </div>
                    </div>

                </div>
                <ul class="patientdot">
                    <li class="act"><i class="fa-regular fa-circle"></i></li>
                    <li><i class="fa-regular fa-circle"></i></li>
                    <li><i class="fa-regular fa-circle"></i></li>
                </ul>
             
                  
            </div>
        </section>

        <section>
            <div class="Doctor">
                <h3 class="dh3">Hospitals</h3>
                <div class="dhead">
                    <h2 class="dh2">Recommended</h2> <div style="padding-left: 1rem; font-size: 2.5rem; color:#107DF7">Hospitals</div>
                </div>
                <div class="docr">
                    <div style=" height: 450px;border-style: dashed; border-color: #D5052F; border-radius: 10px;" class="blog-content" >

                        <a href=""><img style="height: 320px;" src="../static/media/Hospital1.jpeg" alt="post1"></a>
                        <div class="blog-title">
                            <div style="font-weight: bold;
                            padding-bottom: 7px;" class="aboudoct">
                                Apollo Hospital
                            </div>
                            <div style="color: rgb(255, 127, 255) !important;
                            font-size: 1.5rem;
                            padding-bottom: 10px;
                            font-style: italic;
                            font-weight: 400;" class="dname">
                                Banglore
                            </div>
                        </div>
                    </div>
                    <div style="border-style: dashed; border-color: #D5052F; border-radius: 10px;" class="blog-content" >
                        <a href=""><img style="height: 320px;" src="../static/media//Hospital2.jpeg" alt="post1"></a>

                        <div class="blog-title">
                            <div style="font-weight: bold;
                            padding-bottom: 7px;" class="aboudoct">
                                Medanta Hospital
                            </div>
                            <div style="color: rgb(255, 127, 255) !important;
                            font-size: 1.5rem;
                            padding-bottom: 10px;
                            font-style: italic;
                            font-weight: 400;" class="dname">
                               Gurgoan
                            </div>
                        </div>
                    </div>
                    <div style="border-style: dashed; border-color: #D5052F; border-radius: 10px;" class="blog-content" >

                        <a href=""><img style="height: 320px;" src="../static/media/Hospital3.jpeg" alt="post1"></a>

                        <div class="blog-title">
                            <div style="font-weight: bold;
                            padding-bottom: 7px;" class="aboudoct">
                                Jaslok Hospital
                            </div>
                            <div style="color: rgb(255, 127, 255) !important;
                            font-size: 1.5rem;
                            padding-bottom: 10px;
                            font-style: italic;
                            font-weight: 400;" class="dname">
                                Mumbai
                            </div>
                        </div>
                    </div>

                </div>
                <ul class="patientdot">
                    <li class="act"><i class="fa-regular fa-circle"></i></li>
                    <li><i class="fa-regular fa-circle"></i></li>
                    <li><i class="fa-regular fa-circle"></i></li>
                </ul>
                <div class="exp">
                    <div>Don't hesistate, contact us for better help and services.</div>  <div class="inexp">Explore all Hospitals</div>

                </div>
            </div>
        </section>

        <section>

            <div class="bottom">
                <div class="botcontent">
                    <div class="botcontentdiv">Stay healthy and strong to enjoy life</div><br>
                    <h2 class="botcontenth2">We have team of healthcare experts</h2>
                </div>
                <div class="buttonnumber">
                    <button style="color: white;" class="btn" type="submit">Get In Touch</button> 
                    <div style=" font-weight: 100; color:white;  padding: 0 1.5rem; font-size: 4rem;">|</div>
                    <div style="color: white; font-size: 2rem ; font-weight: bold;" class="numb">+91 898 777 9999</div>
                </div>
            </div>

        </section>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="Implink">
                <h2 style="font-size: 1.3rem;" class="fh2">Important Links</h2>
                    <div>- Home</div>
                    <div>- About us</div>
                    <div>- FaQs</div>
                    <div>- Blog</div>
                    <div>- Contact us</div>
            </div>
            <div class="tHosp">
                <h2 style="font-size: 1.3rem;" class="fh2">Top Hospitals</h2>
                    <div>- Apollo Hospital Delhi</div>
                    <div>-  Medanta Hospital Gurgaon</div>
                    <div>- Max Hospital Delhi </div>
                    <div>- Jaslok hospital Mumbai</div>
                    <div>- Artemis hospital Gurgaon</div>
                    <div>- Fortis Hospital Gurgaon</div>
                    <div>- View all</div>

            </div>
            <div class="SpecialTreat">
                <h2 style="font-size: 1.3rem;" class="fh2">Speciality Treatments</h2>
                    <div>- Knee Replacement Surgeon</div>
                    <div>-  Urologist</div>
                    <div>- Spine Surgeon </div>
                    <div>- ENT Surgeons</div>
                    <div>- Orthopedic</div>
                    <div>- Cardiologist</div>
                    <div>- View all</div>
                
            </div>

            <div class="DoctHosp">
                <div class="DoctHospal">
                    <img src="../static/media/admin.png" alt="">
                    <div class="join">
                        <div class=""> Are you doctor / hospital?</div>
                        <div class=""> Join Mediretreats</div>
                    </div>

                </div>
                <div style="margin-left: 1rem; color: black;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deleniti accusantium laboriosam.
                </div>
            </div>
                <div  class="tour">
                    <h2 style="font-size: 1.3rem;" class="fh2">Medical Tourism Destinations </h2>
                        <div>- SMedical Tourism in India</div>
                        <div>- SMedical Tourism in Sri lanka</div>
                        <div>- SMedical Tourism in UAE</div>
                        <div>- View all</div>
                </div>
        </div>
        <hr style="width: 85rem; align-items: center; color: #3f4954;">
        <div class="nextsection">
            <div style="margin-right: 2rem;" class="footlogo">
                <img src="../static/media/weblogo1.png" alt="" srcset="">
            </div>
            <div style="margin-right: 2rem;" class="aboutfoot">
                <h2>About Aafiya Mediretreats</h2>
                Aafiya Mediretreats is a free, confidential, independent resource for patients and industry providers. Our mission is to provide a central portal where pa- tients, Medical Tourism providers, hospitals, clinics, employers, and insurance companies can all find the information they need. Our site focuses on patients looking for specific knowledge in the fields of medical tourism, dental tourism, and health tourism.
            </div>
            <div style="margin-top: 0rem; margin-right: 2rem;" class="follow">
                <div class="followicon">
                    <h2>Follow us on</h2>
                    <img src="../static/media/face.png" alt="" srcset="">
                    <img src="../static/media/tweeter.png" alt="" srcset="">
                    <img src="../static/media/insta.png" alt="" srcset="">
                    <img src="../static/media/youtube.png" alt="" srcset="">
                </div>
                <p style="padding-top: 3rem;  font-size: 1.1rem;">Customer Services</p>
                <p style=" margin: 0;padding: 0;  font-size: 1.3rem; color: #107DF7;font-weight: bold;">+91 9856555666</p>

            </div>
    
        </div>
        <div class="lastrights">
            <div class="rights">
                <h4>
                    Copyright © 2020 Aafiya Mediretreats. All Rights Reserved. Designed by Ideamagix
                </h4>
                <h4 style="margin-left: 23rem; ">
                    Terms And Conditions
                </h4>
                <h4 style="margin-left: 3rem; ">
                    Privacy Policy
                </h4>
            </div>

        </div>
    </footer>
</body>

<script src="{% static 'JS/index.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</html>